body {
    background-image: url("./images/fond_decran.jpg");
    background-size: 100%;
}

h1 {
    text-align: center;
}

#nbr_artistes {
    color: whitesmoke;
    font-size: x-large;
    font-family: Impact;
    text-align: center;
}

div {
    width: 100%;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font: 100 20px/1.5 sans-serif;
    font-family: stencil;
    color: whitesmoke;
    border-bottom: 3px solid lightslategray;
    transition: 0.5s;
    width:300px;
}

li:hover {
    font-size: 30px;
    background: cornflowerblue;
    transition: 0.2s;
}

a {
    color: whitesmoke;
}

