.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  background-image: url("images/fond_decran.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

h1{
  text-align: center;
  margin-left: 100px;
}

#nbr_artistes{
  color: whitesmoke;
  font-size: x-large;
  font-family: Impact;
}

div {
  width: 250px;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 100 20px/1.5 Helvetica, Verdana, sans-serif;
  color: whitesmoke;
  border-bottom: 3px solid lightslategray;
  transition: 0.5s;
}

li:hover {
  font-size: 30px;
  background: cornflowerblue;
  transition: 0.2s;
}

